<?xml version='1.0' encoding='utf-8'?>
<widget id="com.lovekey.app" version="0.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Lovekey</name>
    <!-- <name>Lovekey Bague Unique</name> -->
    <description>
        Configurer, visionnez et partagez votre bague unique Lovekey.
    </description>
    <author email="herve.torche@bluewin.ch" href="http://www.google.com">
        Hervé Torche - Torche Web Marketing
    </author>
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />

    <preference name="orientation" value="default" />

    <preference name="target-device" value="handset" />

    <preference name="auto-hide-splash-screen" value="false" /> <!-- Pour iOS -->
    <preference name="splash-screen-duration" value="10000" /> <!-- Pour Android -->

    <icon src="icons/ios/Icon.png" gap:platform="ios" width="57" height="57" />
    <icon src="icons/ios/Icon-72.png" gap:platform="ios" width="72" height="72" />
    <icon src="icons/ios/Icon-at-2x.png" gap:platform="ios" width="114" height="114" />
    <!-- retina iPad support: PhoneGap 2.5.0+ only -->
    <icon src="icons/ios/Icon-72@-at-x.png" gap:platform="ios" width="144" height="144" />
    
    <!--<icon src="icons/android/ldpi.png" gap:platform="android" gap:density="ldpi" />-->
    <icon src="icons/android/mdpi.png" gap:platform="android" gap:density="mdpi" />
    <icon src="icons/android/hdpi.png" gap:platform="android" gap:density="hdpi" />
    <icon src="icons/android/xhdpi.png" gap:platform="android" gap:density="xhdpi" />

    <gap:splash src="splash.png" />
    <gap:splash src="splash/ios/screen-iphone-portrait.png" gap:platform="ios" width="320" height="480" />
    <gap:splash src="splash/ios/screen-iphone-portrait-2x.png" gap:platform="ios" width="640" height="960" />
    <gap:splash src="splash/ios/screen-iphone-landscape.png" gap:platform="ios" width="480" height="320" />
    <gap:splash src="splash/ios/screen-iphone-landscape-2x.png" gap:platform="ios" width="960" height="640" />

    <gap:splash src="res/screen/android/screen-ldpi-portrait.png" gap:platform="android" gap:density="ldpi" />
    <gap:splash src="res/screen/android/screen-mdpi-portrait.png" gap:platform="android" gap:density="mdpi" />
    <gap:splash src="res/screen/android/screen-hdpi-portrai.png" gap:platform="android" gap:density="hdpi" />
    <gap:splash src="res/screen/android/screen-xhdpi-portrait.png" gap:platform="android" gap:density="xhdpi" />

    <!-- <gap:splash gap:platform="android" src="res/screen/android/screen-ldpi-portrait.png" width="200" height="320" />
    <gap:splash gap:platform="android" src="res/screen/android/screen-mdpi-portrait.png" width="480" height="320" />
    <gap:splash gap:platform="android" src="res/screen/android/screen-hdpi-portrait.png" width="480" height="800" />
    <gap:splash gap:platform="android" src="res/screen/android/screen-xhdpi-portrait.png" width="720" height="1280" />
    <gap:splash gap:platform="android" src="res/screen/android/screen-ldpi-landscape.png" width="320" height="200" />
    <gap:splash gap:platform="android" src="res/screen/android/screen-mdpi-landscape.png" width="320" height="480" />
    <gap:splash gap:platform="android" src="res/screen/android/screen-hdpi-landscape.png" width="800" height="480" />
    <gap:splash gap:platform="android" src="res/screen/android/screen-xhdpi-landscape.png" width="1280" height="720" /> -->

    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>

    <access origin="http://lovekey.com" subdomains="true" />
</widget>